<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="<%= publicPath %>"><%= siteName %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% navList.forEach(function(nav) { %>
      <li class="nav-item home">
        <a class="nav-link <%= nav.active ? 'active' : '' %>" href="<%= nav.path %>"><%= nav.title %></a>
      </li>
      <% }) %>
      <% if(otherLinks.length > 0) { %>
      <li class="nav-item other dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          更多
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% otherLinks.forEach(function(nav) { %>
            <a class="dropdown-item" href="<%= nav.url %>"><%= nav.title %></a>
          <% }) %>
        </div>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
